.mainScene {
    width: 80%; 
    max-width: 1000px; 
    aspect-ratio: 4/2.2; 
    margin: 0 auto;
}

.atropos-inner {
    position: relative;
    border-radius: 1rem;
    background: linear-gradient(to left, #fef08a, #fef9c3, #60a5fa);
    
}

.parallaxElement {
    position: absolute;
    object-fit: cover;
    width: 100%;
   
}

.sceneBtn {
    background: rgb(21 128 61);
    color: #fff;
    border-radius: 9999px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    transition-duration: 200ms;
    display: inline-flex;
}

.sceneBtn:hover{
    opacity: .7;
    
}

.rocks{
    width: 110%;
    top: -8%;
    left: -5%;
}

nav{
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
    place-items: center;
    border: 1px solid red;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fa-github{
    font-size: 2.8rem;
    color: purple;
}

.logo{
    display: grid;
    place-items: center;
}

.bg-grid {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
      linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
  }

@media (min-width: 640px) {
    .toUpPart {
        top: -1.5rem;
    }
}
@media (min-width: 768px) {
    .toUpPart {
        top: -3.5rem;
    }
}
@media (min-width: 1024px) {
    .toUpPart {
        top: -4.5rem;
    }
}
@media (min-width: 1280px) {
    .toUpPart {
        top: -5rem;
    }
}
