.mainScene {
    width: 80%; 
    max-width: 1000px; 
    aspect-ratio: 4/2.2; 
    margin: 0 auto;
}

.parallaxElement {
    position: absolute;
    object-fit: cover;
    width: 100%;
}

.atropos-inner {
    position: relative;
    background: linear-gradient();
}
